
// HAS HELPERS

.button {
  cursor: pointer;
  background-color: rgb(133, 133, 133);
  color: rgb(255, 252, 252);
  border: none;
  height: 35px;
  width:  60px;
  border-radius: 5px;
}

.black-on-white {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    color: rgb(212, 211, 211);
    border: none;
    height: 35px;
    width:  60px;
    border-radius: 5px;
}

.red-on-white {
    cursor: pointer;
    background-color: rgb(192, 65, 65);
    color: rgb(241, 232, 232);
    border: none;
    height: 35px;
    width:  60px;
    border-radius: 5px;
    
}

.green-on-white {
    cursor: pointer;
    background-color: rgb(8, 109, 16);
    color: rgb(206, 241, 201);
    border: none;
    height: 35px;
    width:  60px;
    border-radius: 5px;
    
}

.blue-on-white {
    cursor: pointer;
    background-color: rgb(49, 12, 180);
    color: rgb(226, 225, 245);
    border: none;
    height: 35px;
    width:  60px;
    border-radius: 5px;
    
}

