.fill {
    padding: 20px;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.words {
  width: 300px;
  text-align: center;    
  padding: 20px;
    
    h3 {
        font-size: 25px;
        
    }

   
}

.no-button {
    border-color: black;
    border-width: 1px;  
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.with-button {

    .card-with-btn {
        border-color: black;
        border-width: 1px;  
        border-style: solid;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 350px;
        height: 550px;
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .image {
        height: 100%;
    }

    .btn {
        bottom: 15px;
        position: relative;
    }
    
    .button {
        cursor: pointer;
        background-color: rgb(133, 133, 133);
        color: rgb(255, 252, 252);
        border: none;
        height: 35px;
        width:  60px;
        border-radius: 5px;
    }

    

    .button:hover {
        background-color: #004369;
        transition: background-color 0.5s
    }

}

