* {
    margin: 0px;
    padding: 0px;
}
 

.navbar {
    background-color: #00A5CF;
    height: 60px;
    font-family: 'Inter', sans-serif;
}
    
    .logo {
        color: #FFFCFC;
        font-size: 40px;
        padding: 4px;
        left: 18px;
        position: relative;
    }

    .button {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 330px;
        top: -45px;
        position: relative;
    }

    .button2 {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 360px;
        top: -45px;
        position: relative;
    }

    .button:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    .button2:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
     
    // helpers


    .bg-logo {
        background-color: grey;
        border-radius: 10px;
        border-color: rgb(160, 160, 160);
        border-style:solid;
        border-width: 3px;
    }
