* {
  margin: 0px;
  padding: 0px;
}

.body {
  display: inline-block;
}

.navbar {
  background-color: #00A5CF;
  height: 60px;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.logo {
  color: #FFFCFC;
  font-size: 40px;
  padding: 4px;
  left: 10px;
  top: 1px;
  position: relative;
}

.button {
  cursor: pointer;
  background-color: #858585;
  color: #fffcfc;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  left: 330px;
  top: -45px;
  position: relative;
}

.button2 {
  cursor: pointer;
  background-color: #858585;
  color: #fffcfc;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  left: 360px;
  top: -45px;
  position: relative;
}

.button3 {
  cursor: pointer;
  background-color: #858585;
  color: #fffcfc;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  left: 390px;
  top: -45px;
  position: relative;
}

.button4 {
  cursor: pointer;
  background-color: #858585;
  color: #fffcfc;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  left: 420px;
  top: -45px;
  position: relative;
}

.button5 {
  cursor: pointer;
  background-color: #858585;
  color: #fffcfc;
  border: none;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  left: 1590px;
  top: -53px;
  position: relative;
}

.button:hover {
  background-color: #004369;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button2:hover {
  background-color: #004369;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button3:hover {
  background-color: #004369;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button4:hover {
  background-color: #004369;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button5:hover {
  background-color: #004369;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.bg-logo {
  background-color: grey;
  border-radius: 10px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 3px;
  padding: 0.5px;
}

.dark-blue {
  background-color: #0082A3;
}

.no-bg {
  background-color: transparent;
  font-size: 17px;
}

.no-bg:hover {
  background-color: transparent;
}

.no-bg-with-hover {
  background-color: transparent;
  font-size: 17px;
}

@media only screen and (max-width: 550px) {
  .navbar {
    background-color: #00A5CF;
    width: 100%;
  }
  .button {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 290px;
    top: -45px;
    position: relative;
  }
  .button2 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 290px;
    top: -45px;
    position: relative;
  }
  .button3 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 290px;
    top: -45px;
    position: relative;
  }
  .button4 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 290px;
    top: -45px;
    position: relative;
  }
}

@media only screen and (max-width: 350px) {
  .navbar {
    background-color: #00A5CF;
    height: 280px;
    font-family: 'Inter', sans-serif;
    width: 100%;
  }
  .button {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 140px;
    top: 10px;
    position: relative;
  }
  .logo {
    color: #FFFCFC;
    font-size: 40px;
    padding: 4px;
    left: 30px;
    top: 1px;
    position: relative;
  }
  .button2 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 75px;
    top: 50px;
    position: relative;
  }
  .button3 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: 11px;
    top: 90px;
    position: relative;
  }
  .button4 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: -54px;
    top: 130px;
    position: relative;
  }
  .button5 {
    cursor: pointer;
    background-color: #858585;
    color: #fffcfc;
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    left: -118px;
    top: 163px;
    position: relative;
  }
}
/*# sourceMappingURL=stle.css.map */