* {
    margin: 0px;
    padding: 0px;
}
 

.navbar {
    background-color: #00A5CF;
    height: 60px;
    font-family: 'Inter', sans-serif;

    .logo {
        color: #FFFCFC;
        font-size: 40px;
        padding: 4px;
    }

}