* {
    margin: 0px;
    padding: 0px;
}

.body {
    display: inline-block;
}

.navbar {
    background-color: #00A5CF;
    height: 60px;
    font-family: 'Inter', sans-serif;
}
    
    .logo {
        color: #FFFCFC;
        font-size: 40px;
        padding: 4px;
        left: 10px;
        top: 1px;
        position: relative;
    }

    .button {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 330px;
        top: -45px;
        position: relative;
    }

    .button2 {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 360px;
        top: -45px;
        position: relative;
    }

    // extra buttons you can add

    .button3 {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 390px;
        top: -45px;
        position: relative;
    }

    .button4 {
        cursor: pointer;
        background-color: #858585;
        color: #fffcfc;
        border: none;
        height: 35px;
        width: 60px;
        border-radius: 5px;
        left: 420px;
        top: -45px;
        position: relative;
    }

    // end of extra buttons

    .button:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    .button2:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    .button3:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }

    .button4:hover {
        background-color: #004369;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
     
    // this is for a background logo, but it into span class


    .bg-logo {
        background-color: grey;
        border-radius: 10px;
        border-color: rgb(160, 160, 160);
        border-style:solid;
        border-width: 3px;
        padding: 0.5px;
    }

    
    // options for color scheme

    .dark-blue {
        background-color: #0082A3;
        
    }

    // button options

        //button no background but with no hover background
        .no-bg {
            background-color: transparent;
            font-size: 17px;
        }

        .no-bg:hover {
            background-color: transparent;
        }

        //with hover background

        .no-bg-with-hover {
            background-color: transparent;
            font-size: 17px;
        }






    @media only screen and (max-width: 550px) {
        .navbar {
            background-color: #00A5CF;
            width: 550px;
        }

        .button {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 290px;
            top: -45px;
            position: relative;
        }
    
        .button2 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 290px;
            top: -45px;
            position: relative;
        }
    
        .button3 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 290px;
            top: -45px;
            position: relative;
        }
    
        .button4 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 290px;
            top: -45px;
            position: relative;
        }

    }

    @media only screen and (max-width: 350px) {
        .navbar {
            background-color: #00A5CF;
            height: 240px;
            font-family: 'Inter', sans-serif;
            width: 350px;
        }

        .button {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 140px;
            top: 10px;
            position: relative;
        }

        .logo {
            color: #FFFCFC;
            font-size: 40px;
            padding: 4px;
            left: 30px;
            top: 1px;
            position: relative;
        }

        .button2 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 75px;
            top: 50px;
            position: relative;
        }

        .button3 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: 11px;
            top: 90px;
            position: relative;
        }

        .button4 {
            cursor: pointer;
            background-color: #858585;
            color: #fffcfc;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 5px;
            left: -54px;
            top: 130px;
            position: relative;
        }
    }